/*//PAXELL PORTFOLIO WEBSITE //*/

/* 1.0 Override styles */

html, body, h1, h2, h3, p, ul, ul li, label, input, textarea {
  margin:0;
  padding:0;
  }
body {
  background:url(../images/bg.png);
  font-family:Georgia, serif;
  font-size:16px;
  color:#0063a1;
  padding:20px;
  }
a, nav a:hover {
  color:#0063a1;
  }
a:hover, a.active, nav a {
  color:#000;
  }
a:hover {
  cursor:pointer;
  }
.clear {
  clear:both;
  }

/* 2.0 Unique styles */

nav {
  border-top:2px solid #ff0000;
  text-transform:uppercase;
  padding:15px 5px;
  max-width:100%;
  text-align:center;
  }
nav a {
  padding:0 5px;
  font-size:18px;
  text-decoration:none;
  }
#hero {
  border-top:1px solid #ff0000;
  padding-bottom:0px;
  }
footer {
  border-top:1px solid #ff0000;
  padding-top:20px;
  margin-top:40px;
  }
  
/* 3.0 Combination styles */

#hero img, .imgcont img {
  max-width:100%;
 }
#tagline, h1 {
  text-shadow: #fff 0 2px 0;
  }
#tagline, .highlight, .hightlight a, h3 {
  color:#ff0000;
  }
.imgcont, .submitbtn {
  background:url(../images/corner.png) no-repeat bottom right;
  }
h1, h2 {
  font-family: 'Raleway', Helvetica, sans-serif;
  }
h2, h3 {
  font-weight:normal;
  }
h3, .caption, .workcaption {
  font-style:italic;
  }
nav, footer {
  text-align:center;
  }
footer, .caption, .workcaption {
  font-size:12px;
  }
footer, .feature, h2 {
  color:#000;
  }

/* 4.0 Text styles */

h1 {
  margin:20px 0 12px 0;
  line-height:40px;
  font-size:40px;
  color:#0063a1;
  font-weight:100;
  }
#label h1 {
  margin-top:8px;
  margin-bottom:4px;
  }
h2 {
  font-size:24px;
  margin:6px 0 12px 0;
  text-align:left;
  }
h3 {
  font-size:16px;
  margin:8px 0 12px 0;
  }
.caption {
  font-style:italic;
  text-align:left;
  padding:8px 0;
  line-height:16px;
  }
.slides li .caption {
  text-align:center;
  }
.feature {
  font-size:18px;
  line-height:24px;
  }
.feature h1 {
  margin-top:20px;
  }
p {
  margin:6px 0;
  line-height:22px;
  }
.pleft, .plefth {
  float:left;
  margin:10px 20px 0 0;
  }
.pright, .prighth {
  float:right;
  margin:10px 0 0 20px;
  }

  
/* 5.0 Form Styles */

label {
  color:#000;
  }
label, input, textarea {
  display:block;
  }
label {
  margin-bottom:3px; 
  }
textarea {
  height:80px;
  }
#contact {
  margin-top:20px;
  }
.formfield {
  border:1px solid #0063a1;
  margin-bottom:16px;
  padding:6px;
  font-size:16px;
  width:95%;
  color:#0063a1;
  }
.submitbtn {
  font-size:20px;
  color:#ff0000;
  border:1px solid #ff0000;
  text-transform:uppercase;
  color:#ff0000;
  background-color:#fff;
  font-family:Georgia, serif;
  padding:4px 24px 4px 16px;
  }
.submitbtn:hover {
  background:#ff0000;
  color:#fff;
  border:1px solid #fff;
  cursor:pointer;
  }
  
/* 6.0 Layout styles */

.logo {
  background:url(../images/logo.png) no-repeat top left;
  width:254px;
  padding-top:55px;
  margin:20px auto 34px auto;
  text-align:center;
  }
.imgcont {
  border-color:#ff0000;
  border-style:solid;
  border-width:1px 1px 2px 1px;
  padding:12px 12px 12px 8px;
  text-align:center;
  }
.imgcont img {
  border:2px solid #fff;
  }
.work, .links {
  margin:20px 0;
  padding-top:0;
  }
.workcont {
  padding:4px;
  float:left;
  margin-right:12px;
  max-width:30%;
  }
.workcont img:hover, .imgcont a img:hover  {
  border-color:#0063a1;
  }
.workcaption {
  margin-bottom:8px;
  }
.links {
  padding-top:20px;
  }
.clinks {
  height:40px;
  }
.compact {
  background:url(../images/mark.png) no-repeat top left;
  width:54px;
  height:37px;
  float:left;
  padding-top:0px;
  margin:0 10px 0 0;
  }
.compact #tagline {
  display:none;
  }
.inner {
  text-align:left;
  padding-top:5px;
  border-top:none;
  border-bottom:2px solid #ff0000;
  }
.last {
  margin-right:0;
  }
.pleft, .pright, .plefth, .prighth {
  width:100%;
  padding-bottom:10px;
  }
.left, .right {
  clear:both;
  margin-top:10px;
  }

/* small: 640 - 960 px */

@media screen and (min-width: 620px) {
	.pleft, .pright, .plefth, .prighth {
	  width:45%;
	  padding-top:20px;
	  padding-bottom:0px;
	  }
	.imgsm {
	  max-width:40%;
	  }
	.left, .right {
	  clear:none;
	  }
	.left {
	  float:left;
	  margin:20px 20px 10px 0px;
	  }
	.right {
	  float:right;
	  margin:20px 0px 10px 20px;
	  }
}

/* medium: 960 - 1280px */

@media screen and (min-width: 960px) {
	header{
	  border-bottom:1px solid #ff0000;
	  }
	.logo {
	  float:left;
	  margin:0px 30px 0 0;
	  padding-top:60px;
	  padding-bottom:20px;
	  text-align:left;
	  }
	.compact {
	  background:url(../images/logo.png) no-repeat top left;
	  width:254px;
	  }
	.compact #tagline {
	  display:block;
	  }
	.inner {
	  padding-top:21px;
	  border-bottom:none;
	  }
	.feature {
	  font-size:20px;
	  line-height:24px;
	  }
	nav {
	  float:left;
	  border-top:0;
	  padding:21px 50px 15px 80px;
	  background:url(../images/divider.png) no-repeat 0 5px;
	  border-bottom:0;
	  text-align:left;
	  }
	#hero {
	  margin:20px 20px 0 0;
	  border-top:1px solid #ff0000;
	  width:664px;
	  float:left;
	  }
	#label {
	  background:#fff;
	  padding:10px;
	  margin:20px 0;
	  }
	.feature {
	  float:left;
	  width:24%;
	  padding-right:20px;
	  }
	.imgsm {
	  max-width:30%;
	  }
	h2 {
	  margin:0px;
	  }
	.work {
	  float:left;
	  margin-right:20px;
	  text-align:center;
	  width:28%;
	  }
	.workcont {
	  display:block;
	  text-align:center;
	  margin:0 0 8px 0;
	  max-width:100%;
	  }
	.work h2 {
	  margin:12px 0;
	  }
	.clearr {
	  clear:right;
	  }
	.clearl {
	  clear:left;
	  }
	.plefth, .prighth {
	  width:30%;
	  }
	.pleft, .pright {
	  width:24%;
	  }
	#contact {
	  float:left;
	  }
	#sociallinks {
	  float:left;
	  margin-left:20px;
	  }
	footer {
	  text-align:left;
	  }
}

/* 1330px + */

@media screen and (min-width: 1330px) {
	nav {
	  width:65%;
	}
	#label {
	  width:25%;
	  float:left;
	  margin:40px 20px 0 0;
	  }
	.feature {
	  width:33%;
	  font-size:20px;
	  line-height:24px;
	  }
	.pleft, .pright {
	  width:18%;
	  }
	.plefth, .prighth {
	  width:24%;
	  }
	.clearl, .clearr {
	  clear:none;
	  }
	.imgsm {
	  max-width:100%;
	  }
	.work {
	  width:20%;
	  }
	#sociallinks img, #sociallinks .caption {
	  float:left;
	  }
	#sociallinks .caption {
	  margin-left:12px;
	  }
	#hero {
	  width:774px;
	  }
	.clearrs {
	  clear:right;
	  }
	.clearls {
	  clear:left;
	  }
}
